{% extends 'base.html' %}

{% load static %}

{% block title %}

Membership | Mukuvisi Wood Lands

{% endblock title %}
			
			
			{% block content %}
			<main class="main">
				<!-- promo start-->
				<section class="promo-primary">
					<picture>
						<source srcset="img/membership.jpg" media="(min-width: 992px)"/><img class="img--bg" src="img/membership.jpg" alt="img"/>
					</picture>
					<div class="container">
						<div class="row">
							<div class="col-auto">
								<div class="align-container">
									<div class="align-container__item"><span class="promo-primary__pre-title">Wild World</span>
										<h1 class="promo-primary__title"><span>Become a</span> <span>Member</span></h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- promo end-->
				<!-- cta start-->
				<div class="cta-block">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-12"><strong>Become a member at SCZ and you’ll enjoy a year of unlimited visits, special pricing on select events and classes, and more exclusive perks.</strong></div>
						</div>
					</div>
				</div>
				<!-- cta end-->
				<!-- section start-->
				<section class="section benefits"><img class="benefits__img" src="img/benefits-bg.png" alt="img"/>
					<div class="container">
						<div class="row bottom-50">
							<div class="col-12">
								<div class="heading heading--primary heading--style-2"><span class="heading__pre-title">Benefits</span>
									<h2 class="heading__title"><span>Membership</span> <span>Benefits</span></h2>
									<p>Bonito parasitic catfish, plownose chimaera ling cod Black swallower freshwater flyingfish electric eel platy stream catfish fangtooth sablefish, weever European chub cardinalfish yellowfin croaker. Spiny basslet Red whalefish sawfish skilfish alooh alligatorfish. Mola Reef triggerfish Manta Ray splitfin; surf sardine whale catfish northern squawfish bangus snubnose parasitic eel, streamer fish climbing catfish hammerhead shark.</p>
								</div>
							</div>
						</div>
						<div class="row offset-margin">
							<div class="col-sm-6 col-lg-3">
								<div class="icon-item">
									<div class="icon-item__icon">
										<svg class="icon">
											<use xlink:href="#photo-camera"></use>
										</svg>
									</div>
									<h6 class="icon-item__title">Photos with Animals</h6>
									<p>Rudderfish long-finned pike razorfish menhaden paradise fish, barramundi oceanic flyingfish blenny desert.</p>
								</div>
							</div>
							<div class="col-sm-6 col-lg-3">
								<div class="icon-item">
									<div class="icon-item__icon">
										<svg class="icon">
											<use xlink:href="#cutlery"></use>
										</svg>
									</div>
									<h6 class="icon-item__title">Restaraunts & Fast Foods</h6>
									<p>Fangtooth yellowtail banded killifish seamoth triplefin blenny desert pupfish crocodile shark catfish</p>
								</div>
							</div>
							<div class="col-sm-6 col-lg-3">
								<div class="icon-item">
									<div class="icon-item__icon">
										<svg class="icon">
											<use xlink:href="#wifi"></use>
										</svg>
									</div>
									<h6 class="icon-item__title">Free Wi-Fi with Hi Speed</h6>
									<p>Lake trout, squeaker, spiny eel bala shark rice eel rohu medaka. Rudd convict blenny ray redside Rabbitfish;</p>
								</div>
							</div>
							<div class="col-sm-6 col-lg-3">
								<div class="icon-item">
									<div class="icon-item__icon">
										<svg class="icon">
											<use xlink:href="#trophy"></use>
										</svg>
									</div>
									<h6 class="icon-item__title">Many Competitions</h6>
									<p>Desea Cat shark worm eel lenok, beachsalmon: ronquil requiem shark loach goby sucker Black scalyfin rock</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- section end-->
				<!-- section start-->
				<section class="section">
					<div class="container">
						<div class="row bottom-50">
							<div class="col-12">
								<div class="heading heading--primary heading--center">
									<h2 class="heading__title no-margin-bottom"><span>Become a</span> <span>Member</span></h2>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<form class="form member-form" action="javascript:void(0);">
									<div class="row">
										<div class="col-lg-8">
											<div class="row">
												<div class="col-md-6">
													<input class="form__field" type="text" name="first-name" placeholder="First Name"/>
												</div>
												<div class="col-md-6">
													<input class="form__field" type="text" name="last-name" placeholder="Last Name"/>
												</div>
												<div class="col-md-6">
													<input class="form__field" type="tel" name="phone" placeholder="Your Phone"/>
												</div>
												<div class="col-md-6">
													<input class="form__field" type="email" name="email" placeholder="Your Email"/>
												</div>
											</div>
										</div>
										<div class="col-lg-4">
											<textarea class="form__field form__message" name="message" placeholder="Text"></textarea>
										</div>
										<div class="col-12 text-center">
											<button class="form__submit" type="submit">Accept</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>
				<!-- section end-->
				<!-- section start-->
				<section class="section no-padding-top">
					<div class="container">
						<div class="row bottom-50">
							<div class="col-12">
								<div class="heading heading--primary heading--center">
									<h2 class="heading__title"><span>Membership a</span> <span>Pricing</span></h2>
								</div>
							</div>
						</div>
						<!-- pricing style-2 start-->
						<div class="row">
							<div class="col-lg-12">
								<div class="pricing-item pricing-item--style-2">
									<div class="row align-items-center">
										<div class="col-lg-3">
											<h6 class="pricing-item__plan">Single Plus</h6>
										</div>
										<div class="col-lg-4 col-xl-5"><span>1 adult | 1 FREE guest/visit</span></div>
										<div class="col-lg-2 text-center">
											<div class="pricing-item__price">96.00$</div>
										</div>
										<div class="col-lg-3 col-xl-2 text-lg-right"><a class="pricing-item__button button button--primary" href="#">Choose</a></div>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="pricing-item pricing-item--style-2 pricing-item--selected">
									<div class="row align-items-center">
										<div class="col-lg-3">
											<h6 class="pricing-item__plan">Household</h6>
										</div>
										<div class="col-lg-4 col-xl-5"><span>2 adults | Children in household</span></div>
										<div class="col-lg-2 text-center">
											<div class="pricing-item__price">139.00$</div>
										</div>
										<div class="col-lg-3 col-xl-2 text-lg-right"><a class="pricing-item__button button button--primary" href="#">Choose</a></div>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="pricing-item pricing-item--style-2">
									<div class="row align-items-center">
										<div class="col-lg-3">
											<h6 class="pricing-item__plan">Household Plus</h6>
										</div>
										<div class="col-lg-4 col-xl-5"><span>2 adults | Children in household | 1 FREE guest/visit</span></div>
										<div class="col-lg-2 text-center">
											<div class="pricing-item__price">159.00$</div>
										</div>
										<div class="col-lg-3 col-xl-2 text-lg-right"><a class="pricing-item__button button button--primary" href="#">Choose</a></div>
									</div>
								</div>
							</div>
						</div>
						<!-- pricing style-2 end-->
					</div>
				</section>
				<!-- section end-->
				<!-- section start-->
				<section class="section no-padding-top">
					<div class="container">
						<div class="row bottom-50">
							<div class="col-12">
								<div class="heading heading--primary heading--center"><span class="heading__pre-title">Price</span>
									<h2 class="heading__title"><span>Buy</span> <span>Online Tickets</span></h2>
								</div>
							</div>
						</div>
						<!-- pricing style-1 start-->
						<div class="row offset-margin">
							<div class="col-sm-6 col-md-4 col-xl-3">
								<div class="pricing-item pricing-item--style-1 text-center">
									<div class="pricing-item__top">
										<div class="pricing-item__icon">
											<svg class="icon">
												<use xlink:href="#adult"></use>
											</svg>
										</div>
										<div class="pricing-item__subject">Adult (12+ yrs)</div>
										<div class="pricing-item__price"><span>$</span><span>25.00</span></div>
									</div>
									<div class="pricing-item__lower"><a class="pricing-item__button button button--primary" href="#">Buy tickets</a></div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 col-xl-3">
								<div class="pricing-item pricing-item--style-1 text-center">
									<div class="pricing-item__top">
										<div class="pricing-item__icon">
											<svg class="icon">
												<use xlink:href="#child"></use>
											</svg>
										</div>
										<div class="pricing-item__subject">Child (4-12 yrs)</div>
										<div class="pricing-item__price"><span>$</span><span>15.00</span></div>
									</div>
									<div class="pricing-item__lower"><a class="pricing-item__button button button--primary" href="#">Buy tickets</a></div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 col-xl-3">
								<div class="pricing-item pricing-item--style-1 text-center">
									<div class="pricing-item__top">
										<div class="pricing-item__icon">
											<svg class="icon">
												<use xlink:href="#baby"></use>
											</svg>
										</div>
										<div class="pricing-item__subject">Baby (0-3 yrs)</div>
										<div class="pricing-item__price"><span> </span><span>Free</span></div>
									</div>
									<div class="pricing-item__lower"><a class="pricing-item__button button button--primary" href="#">Buy tickets</a></div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 col-xl-3">
								<div class="pricing-item pricing-item--style-1 text-center">
									<div class="pricing-item__top">
										<div class="pricing-item__icon">
											<svg class="icon">
												<use xlink:href="#family"></use>
											</svg>
										</div>
										<div class="pricing-item__subject">Family (4-12+ yrs)</div>
										<div class="pricing-item__price"><span>$</span><span>50.00</span></div>
									</div>
									<div class="pricing-item__lower"><a class="pricing-item__button button button--primary" href="#">Buy tickets</a></div>
								</div>
							</div>
						</div>
						<!-- pricing style-1 end-->
					</div>
				</section>
				<!-- section end-->
			</main>
			
			{% endblock content %}
			